@use "reset";
@use "globals";
@use "helpers" as *;
@use "components" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.aurora-hero {
  --primary-color: #14317f;
  --primary-color-light: #7184b8;
  --primary-color-message: #3b5dba;
  --primary-color-dark: #273272;
  --secondary-color: #52c055;
  --white: #fff;

  font-family: "Poppins", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-block: fluid(27, 100) fluid(100, 200);

  &.is-extended {
    .hero-message {
      width: calc(100% + rem(30));

      @include x-large {
        width: 100%;
      }
    }
  }

  &__container {
    max-width: rem(1230);
    margin-inline: auto;
    padding-inline: rem(15);
  }

  &__body {
    display: flex;
    column-gap: rem(21);
    position: relative;
    max-width: rem(975);
    margin-bottom: rem(50);

    @include large {
      align-items: center;
      flex-direction: column;
      row-gap: rem(30);
    }
  }

  &__content {
    flex: 0 1 rem(570);

    @include large {
      flex: 0 1 auto;
      text-align: center;
    }
  }

  &__title {
    color: var(--primary-color);
    font-size: fluid(14, 20);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: fluid(8, 32);
  }

  &__subtitle {
    color: var(--primary-color);
    font-size: fluid(42, 54);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease;
    max-width: rem(570);

    &.is-active {
      opacity: 1;
      width: auto;
      height: auto;
      overflow: visible;
      position: static;
    }

    @include small {
      line-height: 1;
    }
  }

  &__main {
    flex: 0 0 rem(359);
    margin-top: rem(43);

    @include large {
      flex: 0 1 auto;
      margin-top: 0;
    }
  }

  &__info {
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: rem(20);

    @include large {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small {
      gap: rem(12) rem(10);
    }
  }

  &__link {
    color: var(--white);
    font-size: fluid(16, 25);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border-radius: rem(8);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    padding: fluid(7.5, 29.5) fluid(16, 27);
    white-space: nowrap;
    border: rem(1) solid var(--secondary-color);
    transition: all 0.3s ease;

    @include hover {
      background-color: var(--white);
      color: var(--secondary-color);
    }
  }
}

.info-hero {
  background-color: var(--primary-color);
  border-radius: rem(32);
  border-top: rem(2) solid #7184b8;
  border-right: rem(2) solid #7184b8;
  background-color: var(--primary-color-dark);
  padding: rem(40) rem(45.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;

  &__title {
    color: var(--white);
    font-size: fluid(40, 60);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: rem(16);
    display: flex;
    align-items: flex-start;
    &::after {
      content: "*";
      font-size: fluid(16, 32);
    }
  }

  &__subtitle {
    color: var(--white);
    font-size: fluid(20, 24);
    font-weight: 700;
    line-height: 1.04;
    text-transform: uppercase;
    margin-bottom: fluid(12, 24);

    @include small {
      line-height: 1.25;
    }
  }

  &__button {
    color: var(--white);
    font-size: fluid(20, 24);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: rem(13);
    background-color: var(--secondary-color);
    width: 100%;
    padding: fluid(10, 14) rem(20);
    border-radius: rem(60);
    border: rem(1) solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: all 0.3s ease;

    @include hover {
      background-color: var(--white);
      color: var(--secondary-color);
    }

    @include small {
      margin-bottom: rem(16);
    }
  }

  &__or {
    color: var(--white);
    font-size: fluid(12, 18);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: fluid(12, 40);

    a {
      text-decoration: underline;
      transition: color 0.3s ease;

      @include hover {
        color: var(--secondary-color);
      }
    }
  }

  &__disclaimer {
    color: var(--white);
    font-size: fluid(12, 14);
    line-height: 1.4;
  }
}

.hero-navigation {
  display: flex;
  align-items: center;
  column-gap: rem(3);
  justify-content: flex-end;
  margin-top: rem(30);
  position: relative;
  z-index: 2;
  &__button {
    width: rem(33);
    height: rem(33);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white);
    flex-shrink: 0;
    border: rem(1) solid #fff;
    transition: border-color 0.3s ease;

    &:disabled {
      opacity: 0.7;
    }

    @include hover {
      &:not(:disabled) {
        border-color: var(--secondary-color);
      }
    }
  }
}

.hero-message {
  background-color: var(--primary-color-message);
  padding: rem(28) rem(30);
  border-radius: rem(28);
  position: absolute;
  right: 0;
  bottom: rem(42);
  width: rem(344);
  transition: width 0.7s ease;

  &__text {
    color: var(--white);
    font-size: rem(28);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.56px;
    height: rem(82);
    overflow: hidden;

    @include small {
      letter-spacing: -0.28px;
    }
  }
}
