// @use "reset";
@use "globals";
@use "helpers" as *;
@use "components" as *;

// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.home-hero__slider {
  padding-block: rem(40);
  margin-block: rem(-40);
}

.aurora-hero {
  --primary-color: #14317f;
  --primary-color-light: #7184b8;
  --primary-color-message: #3b5dba;
  --primary-color-dark: #273272;
  --secondary-color: #52c055;
  --white: #fff;

  font-family: "Poppins", sans-serif;
  margin-bottom: fluid(80, 170);

  &.is-extended {
    .hero-message {
      width: calc(100% + rem(30));

      @include x-large {
        width: 100%;
      }

      @include large {
        top: rem(-80);
        width: calc(100% + rem(30));
      }

      @include x-small {
        width: rem(271);
        top: rem(-60);
      }
      &__text {
        opacity: 1;
      }
    }

    .aurora-hero__main {
      @include large {
        margin-top: rem(110);
      }

      @include small {
        margin-top: rem(90);
      }
    }
  }

  &__inner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: fluid(27, 100) fluid(100, 200);
    margin-bottom: rem(-150);

    @include small {
      margin-bottom: 0;
      padding-bottom: rem(60);
    }
  }

  &__container {
    max-width: rem(1230);
    margin-inline: auto;
    padding-inline: rem(15);
  }

  &__body {
    display: flex;
    column-gap: rem(21);
    position: relative;
    max-width: rem(975);
    margin-bottom: rem(50);

    @include large {
      align-items: center;
      flex-direction: column;
      position: static;
      margin-inline: auto;
    }
  }

  &__content {
    flex: 0 1 rem(570);

    @include large {
      flex: 0 1 auto;
      text-align: center;
    }
  }

  &__title {
    color: var(--primary-color);
    font-size: fluid(14, 20);
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: fluid(8, 32);
    margin-top: 0;
    text-transform: none;
  }

  &__subtitle {
    color: var(--primary-color);
    font-size: fluid(42, 54);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease;
    max-width: rem(570);
    margin-bottom: 0;

    &.is-active {
      opacity: 1;
      width: auto;
      height: auto;
      overflow: visible;
      position: static;
    }

    @include large {
      margin-inline: auto;
    }

    @include small {
      line-height: 1;
    }

    @include x-small {
      font-size: rem(32);
    }
  }

  &__main {
    flex: 0 0 rem(359);
    margin-top: rem(43);

    @include large {
      flex: 0 1 auto;
      margin-top: rem(34);
      position: relative;
      transition: margin-top 0.7s ease;
    }
  }

  &__info {
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: rem(20);
    // margin-bottom: fluid(55, 88);

    @include large {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small {
      gap: rem(12) rem(10);
    }
  }

  &__link {
    color: var(--white);
    font-size: fluid(16, 25);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border-radius: rem(8);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
    padding: fluid(7.5, 29.5) fluid(12, 27);
    white-space: nowrap;
    border: rem(1) solid var(--secondary-color);
    transition: all 0.3s ease;

    @include hover {
      background-color: var(--white);
      color: var(--secondary-color);
    }
  }
}

.info-hero {
  background-color: var(--primary-color);
  border-radius: rem(32);
  border-top: rem(2) solid #7184b8;
  border-right: rem(2) solid #7184b8;
  background-color: var(--primary-color-dark);
  padding: fluid(15, 40) fluid(30, 45.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;

  @include x-small {
    max-width: rem(254);
  }

  &__title {
    color: var(--white);
    font-size: fluid(40, 60);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: rem(16);
    display: flex;
    align-items: flex-start;
    &::after {
      content: "*";
      font-size: fluid(16, 32);
    }
  }

  &__subtitle {
    color: var(--white);
    font-size: fluid(20, 24);
    font-weight: 700;
    line-height: 1.04;
    text-transform: uppercase;
    margin-bottom: fluid(12, 24);

    @include small {
      line-height: 1.25;
    }
  }

  &__button {
    color: var(--white);
    font-size: fluid(20, 24);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: rem(13);
    background-color: var(--secondary-color);
    width: 100%;
    padding: fluid(10, 14) rem(20);
    border-radius: rem(60);
    border: rem(1) solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: all 0.3s ease;

    @include hover {
      background-color: var(--white);
      color: var(--secondary-color);
    }

    @include small {
      margin-bottom: rem(16);
    }
  }

  &__or {
    color: var(--white);
    font-size: fluid(12, 18);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: fluid(12, 40);

    a {
      text-decoration: underline;
      transition: color 0.3s ease;
      color: var(--white);

      @include hover {
        color: var(--secondary-color);
      }
    }
  }

  &__disclaimer {
    color: var(--white);
    font-size: fluid(12, 14);
    line-height: 1.4;
  }
}

.hero-navigation {
  display: flex;
  align-items: center;
  column-gap: rem(3);
  justify-content: flex-end;
  margin-top: rem(30);
  position: relative;
  z-index: 2;

  @include large {
    position: absolute;
    right: rem(-18);
    bottom: 0;
    flex-direction: column;
    row-gap: rem(6.6);
    transform: translateX(100%);
  }

  @include x-small {
    right: rem(-12);
  }

  &__button {
    padding: 0 !important;
    width: rem(33);
    height: rem(33);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--white) !important;
    flex-shrink: 0;
    border: rem(1) solid #fff;
    transition: all 0.3s ease;

    &:disabled {
      opacity: 0.5;
    }

    @include hover {
      &:not(:disabled) {
        border-color: var(--secondary-color);
      }
    }
    @include large {
      border: rem(1) solid #c6d3e3;
    }
  }
}

.hero-message {
  background-color: var(--primary-color-message);
  padding: rem(28) rem(30);
  border-radius: rem(28);
  position: absolute;
  right: 0;
  bottom: rem(42);
  width: rem(344);
  transition: all 0.7s ease;

  @include large {
    right: 50%;
    transform: translateX(50%);
    width: rem(400);
    bottom: unset;
    top: rem(-15);
    height: 85%;
    padding: rem(13);
  }

  @include small {
    width: rem(300);
    border-radius: rem(20);
  }

  @include x-small {
    width: rem(191);
    top: rem(-10);
    height: 80%;
  }

  &__text {
    color: var(--white);
    font-size: rem(28);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.56px;
    height: rem(82);
    overflow: hidden;
    transition: opacity 0.3s ease;

    @include large {
      height: 100%;
      overflow: visible;
      font-size: rem(20);
      text-align: center;
    }

    @include small {
      letter-spacing: -0.28px;
      opacity: 0;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: rem(12);
      min-width: max-content;
    }

    @include x-small {
      font-size: rem(14);
    }

    br {
      display: block !important;
    }
  }
}
